In [7]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

data_dir = "/Users/ggraham/repos/soilqc_anomaly_detection/data/"
save_dir = "../data/sensors/"

%matplotlib inline

# Save all of XLSX file's sheets

In [10]:
excel_file = "/Users/ggraham/Desktop/TX_Port_Aransas_32_NNE.XLSX"
sheet_names = ["2019-"+str(i).zfill(2) for i in range(3, 12)]

In [11]:
df_dict = {
    idx : None
    for idx in range(len(sheet_names))
}
for idx, sheet_name in enumerate(sheet_names):
    df = pd.read_excel(
        excel_file, 
        sheet_name=sheet_name,
        header=185,
    )
    df_dict[idx] = df
    df.to_csv(data_dir+f"tx_port_aransas_data/{sheet_name}.csv")

# Concat all months together and check for missing sensors

In [12]:
df_all = pd.concat(
    [
        df_dict[idx] for idx in df_dict.keys()
    ],
    axis=0
)

In [13]:
df_all

,DAY_HOUR,H_M1005,A_M1005,H_M2005,A_M2005,H_M3005,A_M3005,H_M1010,A_M1010,H_M2010,...,H_M2100,A_M2100,H_M3100,A_M3100,P_OFFICIAL,MEAN_M_5,MEAN_M_10,MEAN_M_20,MEAN_M_50,MEAN_M_100
0,01-00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.3,NaN,0.369,0.332000,NaN,NaN
1,01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,0.369,0.332000,NaN,NaN
2,01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,0.369,0.333000,NaN,NaN
3,01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,0.369,0.333000,NaN,NaN
4,01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,0.371,0.333000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,26-13,NaN,NaN,NaN,0.088,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.088,0.092,0.087333,0.1,0.168
611,26-14,NaN,NaN,NaN,0.088,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.088,0.092,0.087333,0.1,0.168
612,26-15,NaN,NaN,NaN,0.088,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.088,0.092,0.087000,0.1,0.168
613,26-16,NaN,NaN,NaN,0.088,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.088,0.091,0.087333,0.1,0.168
614,26-17,NaN,NaN,NaN,0.088,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.088,0.092,0.087333,0.1,0.168

In [14]:
df_all = df_all.drop(
    columns=[
        c for c in df_all.columns 
        if "MEAN" in c
    ] + ["DAY_HOUR"]
)

In [15]:
df_all

,H_M1005,A_M1005,H_M2005,A_M2005,H_M3005,A_M3005,H_M1010,A_M1010,H_M2010,A_M2010,...,A_M2050,H_M3050,A_M3050,H_M1100,A_M1100,H_M2100,A_M2100,H_M3100,A_M3100,P_OFFICIAL
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,NaN,NaN,NaN,0.088,NaN,NaN,NaN,NaN,NaN,0.092,...,NaN,NaN,NaN,NaN,0.168,NaN,NaN,NaN,NaN,0.0
611,NaN,NaN,NaN,0.088,NaN,NaN,NaN,NaN,NaN,0.092,...,NaN,NaN,NaN,NaN,0.168,NaN,NaN,NaN,NaN,0.0
612,NaN,NaN,NaN,0.088,NaN,NaN,NaN,NaN,NaN,0.092,...,NaN,NaN,NaN,NaN,0.168,NaN,NaN,NaN,NaN,0.0
613,NaN,NaN,NaN,0.088,NaN,NaN,NaN,NaN,NaN,0.091,...,NaN,NaN,NaN,NaN,0.168,NaN,NaN,NaN,NaN,0.0
614,NaN,NaN,NaN,0.088,NaN,NaN,NaN,NaN,NaN,0.092,...,NaN,NaN,NaN,NaN,0.168,NaN,NaN,NaN,NaN,0.0

In [16]:
df_all =\
    df_all.dropna(axis=1, how="all")

In [18]:
# Drop sensor H_M3005 b/c it is half NaN's.
df_all = df_all.drop(columns=["H_M3005"])

3602

In [4]:
df_all =\
    df_all.fillna(method="ffill").fillna(method="bfill")

df_all.head()

,A_M2005,H_M3005,A_M2010,H_M3010,A_M1020,H_M2020,A_M3020,A_M1050,A_M1100,P_OFFICIAL
0,0.458,0.438,0.473,0.389,0.439,0.334,0.453,0.397,0.378,0.0
1,0.455,0.438,0.474,0.389,0.440,0.334,0.453,0.397,0.378,0.0
2,0.449,0.438,0.473,0.389,0.440,0.334,0.453,0.397,0.378,0.0
3,0.449,0.439,0.474,0.389,0.440,0.334,0.453,0.397,0.378,0.0
4,0.443,0.440,0.475,0.390,0.440,0.334,0.453,0.398,0.378,0.0

In [5]:
# Create first finite difference feature
df_diff = df_all.diff()
df_diff.iloc[0] = np.zeros(len(df_diff.columns))

In [6]:
# Test an automatic labeling system
labels = df_diff.drop(columns=["P_OFFICIAL"])
labels = labels > 0.1
labels = labels.astype(int)
labels.sum()

A_M2005    249
H_M3005      1
A_M2010    234
H_M3010      1
A_M1020    405
H_M2020      2
A_M3020    187
A_M1050    348
A_M1100    266
dtype: int64

In [ ]:
# Export labeled sensor data to CSV for manual inspection/curation
for idx in range(8):
    sensor = pd.concat(
        [df.iloc[:, idx], df_diff.iloc[:, idx], df["P_OFFICIAL"], labels.iloc[:, idx]], 
        axis=1
    )
    sensor.columns = ["raw", "diff", "precip", "label"]
    sensor.to_csv(save_dir + f"{df.columns[idx]}.csv")

# Perform for all months, all sensors

In [124]:
months = ["09", "10", "11"]

df = pd.concat(
    [
        pd.read_csv(data_dir+f"2019_{month}.csv")
        for month in months
    ],
    axis=0
)

In [126]:
# Clean up df.
df = df.drop(
    columns=[
        c for c in df.columns 
        if "MEAN" in c
    ] + ["DAY_HOUR"]
)
df = df.dropna(axis=1, how="all")
df = df.fillna(method="ffill", axis=1)

df.head(10)

,A_M2005,A_M2010,H_M3010,A_M1020,H_M2020,A_M3020,A_M1050,A_M1100,P_OFFICIAL
0,0.044,0.017,0.015,0.060,0.086,0.016,0.066,0.199,0.0
1,0.044,0.017,0.015,0.060,0.086,0.016,0.066,0.200,0.0
2,0.044,0.017,0.015,0.059,0.084,0.016,0.066,0.199,0.0
3,0.044,0.017,0.015,0.059,0.083,0.016,0.066,0.199,0.0
4,0.044,0.017,0.014,0.059,0.083,0.016,0.066,0.199,0.0
5,0.044,0.017,0.015,0.059,0.084,0.016,0.066,0.199,0.0
6,0.044,0.017,0.014,0.059,0.082,0.016,0.066,0.199,0.0
7,0.044,0.017,0.011,0.060,0.083,0.016,0.066,0.199,0.0
8,0.044,0.017,0.010,0.059,0.081,0.016,0.066,0.199,0.0
9,0.044,0.017,0.017,0.060,0.081,0.016,0.066,0.199,0.0